<h1>Welcome to The Iron Triangle</h1>

<div class="row">
  <div class="container" id="colorado-senators">
    <% @state_senator_info.each do |senator| %>
      <div class="row">
        <%= senator["legislators"][0]["full_name"] %>: <%= senator["legislators"][0]["leg_id"] %>
      </div>
    <% end %>
    <% @senator_spondered_bills.each do |bill| %>
      <div class="row">
        <%= bill["title"] %>: <%= bill["bill_id"] %>
      </div>
    <% end %>
  </div>
</div>
